carwings/node-red-flow
[{"id":"b241a725.05fa78","type":"http response","z":"2c5cb4e2.36428c","name":"http response","x":1058.933349609375,"y":303,"wires":[]},{"id":"4b181dba.19d8ac","type":"http in","z":"2c5cb4e2.36428c","name":"Login","url":"/leaf","method":"post","swaggerDoc":"","x":177.93336486816406,"y":278,"wires":[["e82ffb07.9a7928"]]},{"id":"9b070041.24194","type":"exec","z":"2c5cb4e2.36428c","command":"/data/apcarwingsmqtt.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"CARWINGS SCRIPT","x":674.933349609375,"y":359.4996337890625,"wires":[["47a3faa7.948f44"],[],[]]},{"id":"47a3faa7.948f44","type":"template","z":"2c5cb4e2.36428c","name":"Carwings Web App","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<!--[if lt IE 7]> <html class=\"lt-ie9 lt-ie8 lt-ie7\" lang=\"en\"> <![endif]-->\n<!--[if IE 7]> <html class=\"lt-ie9 lt-ie8\" lang=\"en\"> <![endif]-->\n<!--[if IE 8]> <html class=\"lt-ie9\" lang=\"en\"> <![endif]-->\n<!--[if gt IE 8]><!--> <html lang=\"en\"> <!--<![endif]-->\n<head>\n  <meta charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n  <meta content='width=device-width, initial-scale=1' name='viewport'/>\n  <title>Login Form</title>\n  <link rel=\"stylesheet\" href=\"css/style.css\">\n  <!--[if lt IE 9]><script src=\"//html5shim.googlecode.com/svn/trunk/html5.js\"></script><![endif]-->\n</head>\n<body>\n    \n  <section class=\"container\">\n    <div class=\"login\">\n      <h1>Carwings Web APP</h1>\n      <form method=\"post\" action=\"/leaf\">\n        <p><input type=\"text\" name=\"login\" value=\"\" placeholder=\"Username\"></p>\n        <p><input type=\"password\" name=\"password\" value=\"\" placeholder=\"Password\"></p>\n        <select id=\"action\" name= \"action\" >\n        <option value=\"battlaststaus\">Request Last Status</option>\n        <option value=\"battupdate\">Request Update</option>\n        <option value=\"climatestart\" selected >Start Climate</option>\n        <option value=\"climatestop\">Stop Climate</option>\n        <option value=\"chargestart\">Start Charge</option>\n        </select>\n        <p class=\"submit\"><input type=\"submit\"></p>\n      </form>\n    </div>\n\n  </section>\n    \n  <section class=\"result\">\n    <div class=\"login\">\n      <h1>Carwings Response</h1>\n    <p></p>\n    <p>{{{payload}}}</p>\n    <p></p>\n    <p></p>\n    </div>\n  </section>\n\n</body>\n</html>","x":779.933349609375,"y":262,"wires":[["b241a725.05fa78"]]},{"id":"e82ffb07.9a7928","type":"function","z":"2c5cb4e2.36428c","name":"Validate Arguments","func":"\n\nif(msg.payload.action && msg.payload.login && msg.payload.password) {\n    msg.topic = \"leaf/to\"; \n    msg.payload = msg.payload.login + \" \" + msg.payload.password + \" \" + msg.payload.action;\n    return [null,msg];\n}\n\nmsg.payload = \"Carwings response will be shown here\";\nreturn [msg,null];\n","outputs":"2","noerr":0,"x":380.933349609375,"y":296.99998474121094,"wires":[["47a3faa7.948f44"],["9b070041.24194"]]},{"id":"ec43a45d.65c958","type":"comment","z":"2c5cb4e2.36428c","name":"Carwings Web page","info":"","x":190,"y":161.76658630371094,"wires":[]},{"id":"d1fd7dfc.234228","type":"http in","z":"2c5cb4e2.36428c","name":"Page","url":"/leaf","method":"get","swaggerDoc":"","x":355.933349609375,"y":224.49998474121094,"wires":[["47a3faa7.948f44"]]}]
